<div class="container">
  <h1>All Prodcuts:</h1>
  <table class="table table-responsive">
    <thead>
      <tr>
        <th>#</th>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Product Brand Name</th>
        <th>Product Price</th>
        <th>Product Image</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>#5454514</td>
        <td>Redmi 9S</td>
        <td>Remdi</td>
        <td>$150</td>
        <td>to b addeed</td>
      </tr>
    </tbody>
  </table>
</div>
