<div id="page-content" class="home-page">
  <!-- IF WE"RE LOADING-->
  <app-spinner *ngIf="isLoading"></app-spinner>

  <!--IF  we successfully fetch all product-->
  <div class="container" *ngIf="!isLoading && products.length > 0">
    <div class="row">
      <div class="banner">
        <div class="col-sm-4">
          <img src="../../assets/images/sub-banner1.png" />
        </div>
        <div class="col-sm-4">
          <img src="../../assets/images/sub-banner2.png" />
        </div>
        <div class="col-sm-4">
          <img src="../../assets/images/sub-banner3.png" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="heading"><h2>SPECIAL PRODUCTS</h2></div>
        <div class="products">
          <div
            class="col-lg-3 col-md-3 col-sm-6 col-xs-12"
            *ngFor="let product of specialProducts"
          >
            <div class="product">
              <div class="image">
                <a routerLink="/">
                  <img
                    src="http://localhost:5000/{{ product.mainImg }}"
                    width="156px"
                    height="300px"
                /></a>
              </div>
              <div class="buttons">
                <a class="btn cart" routerLink="#"
                  ><span class="glyphicon glyphicon-shopping-cart"></span
                ></a>
                <a class="btn wishlist" routerLink="#"
                  ><span class="glyphicon glyphicon-heart"></span
                ></a>
                <a class="btn compare" [routerLink]="['productDetails',product._id]"
                  ><span class="glyphicon glyphicon-search"></span
                ></a>
              </div>
              <div class="caption">
                <div class="name">
                  <h3>
                    <a [routerLink]="['productDetails',product._id]">{{ product.name }}</a>
                  </h3>
                </div>
                <div class="price">
                  ${{ calculateDiscountPrice(product.price)
                  }}<span>${{ product.price }}</span>
                </div>
                <div class="rating">
                  <span class="glyphicon glyphicon-star"></span
                  ><span class="glyphicon glyphicon-star"></span
                  ><span class="glyphicon glyphicon-star"></span
                  ><span class="glyphicon glyphicon-star"></span
                  ><span class="glyphicon glyphicon-star-empty"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="banner">
        <div class="col-sm-6">
          <img src="../../assets/images/sub-banner4.jpg" />
        </div>
        <div class="col-sm-6">
          <img src="../../assets/images/sub-banner5.png" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="heading"><h2>FEATURED PRODUCTS</h2></div>
        <div class="products">
          <div
            class="col-lg-3 col-md-3 col-sm-6 col-xs-12"
            *ngFor="let product of featuredProducts"
          >
            <div class="product">
              <div class="image">
                <a [routerLink]="['productDetails',product._id]"
                  ><img
                    src="http://localhost:5000/{{ product.mainImg }}"
                    width="156px"
                    height="300px"
                /></a>
              </div>
              <div class="buttons">
                <a class="btn cart" routerLink="#"
                  ><span class="glyphicon glyphicon-shopping-cart"></span
                ></a>
                <a class="btn wishlist" routerLink="#"
                  ><span class="glyphicon glyphicon-heart"></span
                ></a>
                <a class="btn compare" [routerLink]="['productDetails',product._id]"
                  ><span class="glyphicon glyphicon-search"></span
                ></a>
              </div>
              <div class="caption">
                <div class="name">
                  <h3>
                    <a [routerLink]="['productDetails',product._id]">{{ product.name }}</a>
                  </h3>
                </div>
                <div class="price">
                  ${{ calculateDiscountPrice(product.price)
                  }}<span>${{ product.price }}</span>
                </div>
                <div class="rating">
                  <span class="glyphicon glyphicon-star"></span
                  ><span class="glyphicon glyphicon-star"></span
                  ><span class="glyphicon glyphicon-star"></span
                  ><span class="glyphicon glyphicon-star"></span
                  ><span class="glyphicon glyphicon-star-empty"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
